@import "mideaQuery.scss";
$mycolor: rgb(157, 208, 240);
$bgcolor: #252F31;

body {
	font-family: sans-serif;
}



.header {
	display: flex;
	background-image: url(../images/digital-marketing-agency-large-1170x600.jpg);
	background-repeat: no-repeat;
	height: 25rem;
	justify-content: center;
	align-items: center;
	background-size: cover;

	.intro {
		text-align: center;
		text-transform: uppercase;

		h2 {
			color: lightyellow;
			margin: 3rem 0;
			font-size: 3rem;
			border-bottom: 4px solid black;
			border-top: 4px solid black;
			padding: 1rem 0;
		}

		button {
			background-color: white;
			width: auto;
			border: none;
			font-weight: bold;
			padding: .5rem 1rem;
			margin-top: 1rem;
			transition: all 0.5s ease-in-out;

			&:hover {
				background-color: lightskyblue;
				color: rgb(0, 0, 0);
				transform: rotate(360deg);

			}
		}
	}
}

.navbar {
	display: flex;
	background: #252F31;
	color: #FFF;
	margin-bottom: 2rem;


	h3 {
		text-transform: uppercase;
		color: $mycolor;
	}

	ul {
		display: flex;
		list-style: none;
		justify-content: space-between;
		margin: .6rem 1rem;

		li a {
			color: #FFF;
			text-decoration: none;
		}

		li.active a,
		li a:hover {
			color: $mycolor;
		}
	}
}

.feat {
	h2 {
		color: #444;
	}

	p {
		color: #888;
	}
}

.About {
	background-color: $bgcolor;
	color: white;
}

img {
	width: 95%;

	#me & {
		width: 100%;
		height: 100%;
	}
}


#proto img {
	transition: all 1s ease-in-out;
	opacity: .8;

	&:hover {
		transform: scale(1.1);
		opacity: 1;
	}
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.technique {
	h3 {
		color: #555;
	}

	div {
		background: #F2F2F1;
		height: 2rem;
		border: 1px solid $mycolor;

		span {
			background: $mycolor;
			height: 1.93rem;
			display: block;
			color: #FFF;
			line-height: 1.8rem;
			text-align: right;
			font-weight: bold;
		}
	}
}

.resume {
	background-color: $bgcolor;
	color: white;

	h2 {
		font-weight: bold;
	}

	p {
		line-height: 1.7;
	}

	button {
		margin-top: 1rem;
	}
}

.col-6 .row span {
	width: 5.5rem;
	color: black;
	margin-left: .9rem;
	background-color: $mycolor
}

.Contact {
	background: #252F31;
	color: white;

}

.form {
	label {
		color: white;
	}

	input {
		background: #4B5557;
		color: white;
		padding: 10px;
		border: 0;
		width: 100%;
	}

	textarea {
		background: #4B5557;
		color: #FFF;
		padding: 10px;
		border: 0;
		width: 100%;
		margin-bottom: 10px;
		height: 250px;
	}

	input[type="submit"] {

		background: #191E22;
		color: white;
		margin: auto 6rem;
		width: 40%;
	}
}

.footer {
	background: #191E22;
	text-align: center;
	color: #FFF;

	a {

		color: #e6e8e7;

		&:hover {
			color: $mycolor
		}
	}
}